[Unit]
Description=Minecraft Service
After=default.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/minecraft
ExecStart=/bin/bash /minecraft/run.sh

[Install]
WantedBy=multi-user.target
